@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.abtjumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
    height: 100%;
    padding-top: 100px;
    width: 100%;
    align-content: center;
    background: black;
  }

  p.lead {
      width: 500px;
      display: inline-block;
  }

.navbar-fixed-top {
    background: none;
    border: none;
}

li {
  font-size: 20px;
  padding-left: 10px;
}
