@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  font-family: 'Raleway', sans-serif;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
}

.navbar-inverse {
  background: rgb(92, 92, 92);
  border: none;
}

.navbar-fixed-bottom {
  background: none;
  border: none;
}

.navbar-inverse .navbar-collapse {
  margin-right: 15px;
}

li {
  list-style: none;
  float: left;
  background-color: none;
  padding-left: 10px;
}

a.navScroll {
  font-size: 25px;
  padding-bottom: 8px;
  padding-right: 10px;
  bottom: 0;
  position: absolute;
  color: white;
}


.navbar-inverse .navbar-nav>li>a:hover {
  color: black;
}

a.scroll-down {
  color: white;
  font-size: 40px;
  transition: 0.3s;
}

a.scroll-down:hover, a.navScroll:hover {
  color: rgb(194, 194, 194);
}

.btn1 {
  border: none;
  padding: 15px;
  font-size: 15px;
  width: 100%;
  color: white;
  background-color: rgb(92, 92, 92);
}

.btn {
  padding: 15px;
  font-size: 15px;
  width: 100%;
  color: white;
  background-color: white;
}

form {
  background-color: none;
}

.btn:hover {
  color: rgb(0, 145, 255);
}

.signout {
    padding: 10px;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.jumbotron {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-family: 'Raleway', sans-serif;
  float: left;
  padding-left: 50px;
  font-weight: 500;
}

.jumbotron .container {
  max-width: 40rem;
  margin-left: 0;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #e8e8e8;
}

.card {
  float: left;
  width: 25%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  position: relative;
}

.card > form > button > img {
  width: 100%;
  height: 250px;
  margin-bottom: .75rem;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover > form > button > img {
  opacity: 0.2;
}

.card:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 32px;
  padding: 16px 32px;
  font-weight: bold;
}

.card-text {
  font-size: 85%;
}

@media only screen and (max-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  padding-left: 30px;
  padding-right: 30px;
}