<div class="navbar">
  <div id="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
</div>

<div class="abtjumbotron">
        <h1 class="display-3">Boiler Wallet</h1>
        <p class="lead">
            Keep track of your organization's expenses and budget all in one place! With Boiler Wallet, you are able to join
            an organization's budget and help manage their finances!
        </p>
        <p><a class="btn btn-lg" href="/" role="button">Sign up today</a></p>
</div>