
<link rel="stylesheet" href="/css/addclub.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<div class = "form-style-10">
<div id="navbar">
    <a href="/clubs">Back</a>
</div>

<div id="header">
    <div class="container1">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="login">Boiler Wallet</h1>
          <h4 class="subtitle">The easy way to budget</h4>

          <div class="sign-in">
            <form class="form-signin" method = "POST" action="/createclub">
                <h4 class="form-signin-heading">Enter details for the club</h4>

                <label for="inputTitle" class="sr-only">Title</label>
                <input type="name" id="inputName" class="form-control" name="title" placeholder="Title" required>
                
                <label for="inputEmail" class="sr-only">Code</label>
                <input type="text" id="inputEmail" class="form-control" name="code" placeholder="Code" required>
                
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="hidden" id="inputNumber" class="form-control" name="budget" value= 0 placeholder="Password" >

                </br></br>
               

                <input type = "submit" value = "Submit">
                <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
            </form>
         </div> <!-- /container -->

        {{#each errors}}
        <div class = "alert alert-danger">{{text}}</div>
        {{else}}

        {{/each}}
       </div>
     </div>
   </div>
 </div>
</div>