
<link rel="stylesheet" href="/css/clubs.css" type="text/css">

<body>
  <div class="sidenav">
    <h1>Clubs</h1>
    {{#unless admin}}
    <form class="myClubs" method = "POST" action="/myclubs">
      <button class="btn" name="myClubs"><i class="fas fa-club"></i> My Clubs</button>
    </form>
    <form class="myClubs" method = "GET" action="/clubs">
      <button class="btn" name="myClubs"><i class="fas fa-club"></i> All Clubs</button>
    </form>
    {{/unless}}
    {{#if admin}}
    <form class="myClubs" method = "GET" action="/addclub">
      <button class="btn" name="myClubs"><i class="fas fa-club"></i> Add a club</button>
    </form>
    {{/if}}
 
    
    <a class="navScroll" href="/"><i class="fal fa-sign-out"></i></a>
  </div>

  <!-- Page Content -->
    <div class="container">
      <div class="row">

        <div class="col-lg-3 takeSpace"></div>

        <div class="clubSection d-inline-block col-lg-9">
          <div class="row">
          {{#each clubList}}
            <div class="clubCard col-sm-3">
                    <form action="/expenseCheck" method="post">
                      <button class="btn" name="name" value="{{this}}">
                        <img class="card-img-top" src="/assets/{{this}}.png" alt="">
                        <div class="middle">
                          <div class="text">{{this}}</div>
                        </div>
                      </button>
                    </form>
              </div>
            {{/each}}
          </div>
    </div>

  </div>
      <!-- /.container -->
</body>