
<link rel="stylesheet" href="/css/clubs.css" type="text/css">

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
       {{#unless admin}}
          <li><form class="myClubs" method = "POST" action="/myclubs">
                <button class="btn1" name="myClubs"><i class="fas fa-club"></i> My Clubs</button>
              </form>
          </li>
          <li>
              <form class="myClubs" method = "GET" action="/clubs">
                <button class="btn1" name="myClubs"><i class="fas fa-club"></i> All Clubs</button>
              </form>
          </li>  
        {{/unless}}
        {{#if admin}}
          <li>
            <form class="myClubs" method = "GET" action="/addclub">
              <button class="btn1" name="myClubs"><i class="fas fa-club"></i> Add a club</button>
            </form>
          </li>
        {{/if}}
    </div>
  </div>
</nav>

  <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Clubs</h1>
      </div>
    </section>

    <div class="album text-muted">
      <div class="flex-container">

        <div class="row">
          {{#each clubList}}
            <div class="card">
              <form action="/expenseCheck" method="post">
                    <button class="btn" name="name" value="{{this}}">
                    <img class="card-img-top" src="/assets/{{this}}.jpg" alt="{{this}}">
                    <div class="middle">
                      <div class="text">{{this}}</div>
                    </div>
                  </button>
              </form>
            </div>
          {{/each}}
        </div>

      </div>
    </div>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navScroll" href="/"><i class="fal fa-sign-out"></i></a></li>      
      </ul>
    </div>
  </nav>
</body>
