
<link rel="stylesheet" href="/css/contact.css" type="text/css">

<body>
  <div class="navbar">
    <div id="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </div>

  <div class="container-fluid">
      <h1>The Development Team</h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>Dhanushikka Ravichandiran</h2>
        <h4>Lorem ipsum..</h4>      
        <p>Lorem ipsum..</p>
      </div>
      <div class="ud col-sm-4">
      <img src="/assets/dhanu.jpg">
      </div>
    </div>
  </div>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="sc col-sm-4">
      <img src="/assets/CB5E173F-3811-446F-9304-AC90F0424788.jpg">
      </div>
      <div class="col-sm-8">
        <h2>Samantha Coe</h2>
        <h4>Lorem ipsum..</h4>      
        <p>Lorem ipsum..</p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>Unnati Pulla</h2>
        <h4>Lorem ipsum..</h4>      
        <p>Lorem ipsum..</p>
      </div>
      <div class="ud col-sm-4">
          <img src="/assets/IMG_0834.JPG">
      </div>
    </div>
  </div>
</body>