<div class="navbar">
  <div id="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
</div>

<div id="header">
    <div class="container1">
      <div class="row">
        <div class="col-lg-6">
          <h1>Boiler Wallet</h1>
          <h4 class="subtitle">The easy way to budget</h4>
          <div class="sign-in">
            <form class="form-signin" method = "POST" action="/sign-in-submit">
                <h4 class="form-signin-heading">Please sign in</h4>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" >
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" >
                <div class="checkbox">
                </div>
                <input type = "submit" value = "Submit">
                <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
            </form>
         </div> <!-- /container -->
       </div>
     </div>
   </div>
 </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>