
<link rel="stylesheet" href="/css/register.css" type="text/css">

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a class="navScroll" href="/"><i class="fas fa-home"></i></a></li>
      <li><a class="navScroll" href="/#login"><i class="fas fa-sign-in-alt"></i></a></li>
      <li><a class="navScroll" href="/about"><i class="far fa-question-circle"></i></a></li>
    </ul>
  </div>
</nav>

<div class="signup-form">
      <form class="form-signin" method = "POST" action="/register">
      <h2>Sign Up</h2>
      <p>Please fill in this form to create an account!</p>
      <hr>
          <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="name" id="inputName" class="form-control" name="name" placeholder="Name" >
        </div>
          </div>
          <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
          <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" >
        </div>
          </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" >
        </div>
          </div>
        <div class="form-group">
                <input class="btn" type = "submit" value = "Submit">
        </div>
      </form>
    <div class="text-center">Already have an account? <a href="/#login">Login here</a></div>
  </div>
      {{#each errors}}
      <div class = "alert alert-danger">{{text}}</div>
      {{else}}

      {{/each}}
       </div>
     </div>
   </div>
 </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>